.additional-card {
  padding-top: 13px;
  padding-bottom: 19px;
}

.additional-card__title {
  display: block;
  margin-bottom: 13px;
  font-family: @theme-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}

.additional-card__info-table {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  line-height: 14px;
}

.additional-card__btn {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .additional-card {
    padding: 28px 37px;
    border: 1px solid #cdcdcd;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }
}

@media (min-width: @desktop-width) {
  .additional-card {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 0;
    border-left: 0;
    border-right: 0;
  }

  .additional-card__title {
    width: 300px;
    margin-bottom: 0;
  }

  .additional-card__info-table {
    width: 288px;
    margin-bottom: 0;
    margin-left: 20px;
  }

  .additional-card__btn {
    width: 244px;
    margin-left: auto;
  }
}
