.benefits {
  position: relative;
  width: 280px;

  &::before {
    position: absolute;
    margin: auto;
    content: "";
    width: 280px;
    height: 290px;
    background-image:
      linear-gradient(
        rgba(105, 183, 56, 0.85),
        rgba(105, 183, 56, 0.85)
      );
  }

  &::after {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background-image: url("../img/icon-gift.svg");
    width: 78px;
    height: 80px;
  }
}

.benefits__text {
  margin: 0;
  width: 161px;
  position: absolute;
  bottom: 43px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.benefits__banner--tablet {
  display: none;
}

@media (min-width: @tablet-width) {
  .benefits {
    width: calc(@tablet-width - 60px);
    height: auto;

    &::before {
      width: 100%;
      height: 200px;
    }

    &::after {
      width: 80px;
      height: 83px;
      left: 77px;
      transform: translateX(0);
    }
  }

  .benefits__banner--mobile {
    display: none;
  }

  .benefits__banner--tablet {
    display: block;
  }

  .benefits__text {
    left: auto;
    right: 124px;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%) translateX(0);
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .benefits {
    width: 245px;

    &::before {
      height: 290px;
      object-fit: cover;
    }

    &::after {
      top: 55px;
      width: 80px;
      height: 83px;
    }
  }

  .benefits__banner--mobile {
    display: block;
    object-fit: cover;
  }

  .benefits__banner--tablet {
    display: none;
  }

  .benefits__text {
    left: 50%;
    right: auto;
    top: auto;
    bottom: 42px;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
  }
}
