.benefits {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    margin: auto;
    width: 280px;
    height: 100%;
    background-image:
      linear-gradient(
        rgba(105, 183, 56, 0.85),
        rgba(105, 183, 56, 0.85)
      );
  }

  &::after {
    position: absolute;
    content: "";
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 80px;
    background-image: url("../img/icon-gift.svg");
  }
}

.benefits__banner {
  min-height: 290px;
  width: 100%;
}

.benefits__text {
  position: relative;
  margin: 0 auto;
  margin-top: -100px;
  padding-bottom: 43px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  width: 170px;
}

@media (min-width: @tablet-width) {
  .benefits {
    width: calc(@tablet-width - 60px);
    height: auto;
    padding-top: 71px;
    padding-bottom: 68px;
    padding-left: 348px;

    &::before {
      width: 100%;
      height: 200px;
    }

    &::after {
      width: 80px;
      height: 83px;
      left: 78px;
      top: 56px;
      transform: translateX(0);
    }
  }

  .benefits__image {
    width: 100%;
  }

  .benefits__text {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .benefits {
    width: 245px;
    padding: 187px 40px 43px;

    &::before {
      height: 290px;
      object-fit: cover;
    }

    &::after {
      top: 55px;
      left: 83px;
      width: 80px;
      height: 83px;
    }
  }

  .benefits__image {
    display: block;
    object-fit: cover;
    width: 245px;
    height: 289px;
  }

  .benefits__text {
    text-align: center;
  }
}
