.btn {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;

  font-family: @theme-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border: none;
  background-color: @theme-color;

  &:hover {
    background-color: @theme-color-full;
  }

  &:active {
    color: rgba(255 255 255 / 0.3);
    background-color: @theme-color-full;
  }

  &:focus {
    outline: 2px solid #000000;
    outline-offset: 2px;
  }
}
