.catalog-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .catalog-products__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 45px;
    padding-top: 33px;
    padding-bottom: 17px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-products__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 48px;
    padding-bottom: 30px;
  }
}
