.container {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  outline: 1px solid #af4fff;
}

@media (min-width: @tablet-width) {
  .container {
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1220px;
  }
}
