.example {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: @background-color;
}

.example__title {
  margin: 0;
  margin-bottom: 42px;

  font-family: @theme-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
}

.example__sum {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  margin: 0;
  margin-bottom: 20px;

  font-family: @theme-font;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .example {
    padding-top: 43px;
    padding-bottom: 101px;
    border-top: 1px solid #e6e6e6;

    background-image: linear-gradient(
      #ffffff 57%,
      @background-color 57%);
  }

  .example__inner {
    margin-bottom: 70px;
  }

  .example .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .example__title {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .example__text {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__stats {
    display: flex;
    justify-content: space-between;
    gap: 42px;
  }

  .example__sum {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 10px;
    width: 180px;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    padding-top: 20px;
    padding-bottom: 75px;
    border-top: none;

    background-image: linear-gradient(
      #ffffff 25%,
      @background-color 25%);
  }

  .example .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 224px;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__text {
    width: 460px;
    margin-bottom: 69px;
  }

  .example__sum {
    flex-direction: row;
    justify-content: flex-start;
    gap: 63px;
    width: 460px;
  }
}
