.example-slider {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.example-slider__image {
  &--before-tablet {
    display: none;
  }

  &--after-tablet {
    display: none;
  }

  &--before-desktop {
    display: none;
  }

  &--after-desktop {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .example-slider__image {
    &--before-tablet {
      display: block;
    }

    &--after-tablet {
      display: block;
    }

    &--before-mobile {
      display: none;
    }

    &--after-mobile {
      display: none;
    }

    &--before-desktop {
      display: none;
    }

    &--after-desktop {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .example-slider__image {
    &--before-desktop {
      display: block;
    }

    &--after-desktop {
      display: block;
    }

    &--before-mobile {
      display: none;
    }

    &--after-mobile {
      display: none;
    }

    &--before-tablet {
      display: none;
    }

    &--after-tablet {
      display: none;
    }
  }
}
