.example-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 34px;
  gap: 32px;
}

.example-stats__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  padding-top: 14px;
  padding-bottom: 17px;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example-stats__count {
  font-family: @theme-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.example-stats__desc {
  position: absolute;
  margin: 0 auto;
  bottom: -17px;
  width: 87px;
  padding-left: 14px;
  padding-right: 14px;
  z-index: 1;

  font-size: 12px;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background-color: @background-color;
}

@media (min-width: @tablet-width) {
  .example-stats {
    width: 366px;
  }

  .example-stats__item {
    width: 162px;
  }

  .example-stats__count {
    font-size: 30px;
    line-height: 37px;
  }

  .example-stats__desc {
    bottom: -5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    line-height: 100%;
    background-color: #ffffff;
  }

  .example-stats__desc--weight {
    width: 114px;
  }

  .example-stats__desc--time {
    width: 143px;
  }
}

@media (min-width: @desktop-width) {
  .example__stats {
    flex-direction: column;
  }

  .example-stats {
    margin-bottom: 10px;
  }

  .example-stats__desc {
    background-color: @background-color;
  }
}
