.example-slider {
  position: relative;
  display: flex;
  width: 280px;
  height: 256px;
}

.example-slider__toggle {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url("../img/slider-toggle_default.svg");
  z-index: 2;

  &:hover {
    background-image: url("../img/slider-toggle_hover.svg");
  }

  &:active {
    background-image: url("../img/slider-toggle_active.svg");
    opacity: 0.6;
  }

  &::after {
    position: absolute;
    content: "";
    top: -109px;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 256px;
    background-color: #666666;
  }

  &:hover::after {
    background-color: #68b738;
  }

  &:active::after {
    background-color: #5eaa2f;
    opacity: 0.6;
  }
}

.example-slider__image img {
  height: 100%;
  object-fit: cover;
}

.example-slider__image--before img {
  object-position: left;
}

.example-slider__image--after img {
  object-position: right;
}

@media (min-width: @tablet-width) {
  .example-slider {
    width: 560px;
    height: 512px;
  }

  .example-slider__toggle {
    &::after {
      top: -238px;
      height: 512px;
    }
  }
}
