.factoid {
  padding-top: 20px;
  padding-bottom: 49px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.factoid__title {
  margin: 0;
  font-family: @theme-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}
