.factoid-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.factoid-item__text {
  position: relative;
  margin: 0;
  padding-top: 5px;
  padding-left: 80px;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: @theme-color;
  }
}

.factoid-item__text--1 {
  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 32px;
    top: 0;
    left: 0;
    transform: translateX(50%) translateY(50%);
    background: url("../img/icon-leaf.svg") no-repeat;
  }
}

.factoid-item__text--2 {
  &::after {
    position: absolute;
    content: "";
    width: 29px;
    height: 31px;
    top: 0;
    left: 0;
    transform: translateX(50%) translateY(50%);
    background: url("../img/icon-tub.svg") no-repeat;
  }
}

.factoid-item__text--3 {
  &::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 30px;
    top: 0;
    left: 0;
    transform: translateX(65%) translateY(50%);
    background: url("../img/icon-eat.svg") no-repeat;
  }
}

.factoid-item__text--4 {
  &::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 33px;
    top: 0;
    left: 0;
    transform: translateX(45%) translateY(45%);
    background: url("../img/icon-alarm.svg") no-repeat;
  }
}
