.form__appeal {
  margin: 0;
  margin-bottom: 15px;
  font-family: @theme-font;
  text-transform: uppercase;
  color: #000000;
}

.form__submit-inner {
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__btn {
  width: 100%;
  margin-bottom: 21px;
}

.form__note {
  line-height: 16px;
  color: #000000;
}
