.form-block {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  gap: 14px;
  border: none;
}

.form-block__legend--comment {
  &::after {
    width: 147px;
  }
}

.form-block__legend--additional {
  &::after {
    width: 128px;
  }
}

.form-block--user-data,
.form-block--program {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: #d9d9d9;
  }
}

@media (min-width: @tablet-width) {
  .form-block--user-data {
    gap: 22px;
  }

  .form-block--user-data,
  .form-block--program {
    &::after {
      display: none;
    }
  }

  .form-block--program {
    padding: 25px;
    border: 1px solid #e7e7e7;
  }

  .form-block--additional {
    flex-direction: row;
    flex-wrap: wrap;

    & .form-block__inner {
      width: 295px;
    }

    & .form-block__inner:not:last-child {
      width: 295px;
      margin-right: 40px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form-block--user-data {
    padding: 0;
  }

  .form-block--additional {
    & .form-block__inner {
      width: 290px;
    }
  }

  .form-block--owner-data {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
  }
}
