.invitation {
  display: flex;
  flex-direction: column;
  padding-top: 27px;
  padding-bottom: 20px;

  background-image:
    linear-gradient(
      rgba(105, 183, 56, 0.85) 60%,
      rgba(105, 183, 56, 0.85) 60% 60%,
      #ffffff 60% 100%
      ),
    url("../img/styles-images/index-bg-mobile.jpg");
  background-position: center top;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(
        rgba(105, 183, 56, 0.85) 60%,
        rgba(105, 183, 56, 0.85) 60% 60%,
        #ffffff 60% 100%
        ),
      url("../img/styles-images/index-bg-mobile@2x.jpg");
  }
}

.invitation__container {
  position: relative;
}

.invitation__title {
  margin: 0;
  margin-bottom: 25px;

  color: @theme-text-color;
  font-family: @theme-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.invitation__slogan {
  margin: 0;
  margin-bottom: 300px;

  text-transform: uppercase;
  font-family: @theme-font;
  line-height: 14px;
  text-align: center;
  color: @theme-text-color;
}

.invitation__image {
  position: absolute;
  bottom: 40px;
}

@media (min-width: @tablet-width) {
  .invitation {
    background-image: none;
    padding-top: 38px;
    padding-bottom: 0;
  }

  .invitation__container {
    padding-bottom: 526px;
  }

  .invitation__inner {
    position: relative;
    z-index: 1;
    padding-left: 90px;
  }

  .invitation__title {
    margin-bottom: 41px;
    width: 420px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #000000;
  }

  .invitation__slogan {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
  }

  .invitation__btn {
    width: 244px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 20px;
  }

  .invitation__image {
    bottom: 0;
    width: 709px;
    height: auto;
  }
}

@media (min-width: @desktop-width) {
  .invitation {
    &::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 694px;
      top: 0;
      left: 50%;
      background-image:
        linear-gradient(
          rgba(105, 183, 56, 0.85),
          rgba(105, 183, 56, 0.85)),
        url("../img/styles-images/index-bg-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient(
            rgba(105, 183, 56, 0.85),
            rgba(105, 183, 56, 0.85)),
          url("../img/styles-images/index-bg-desktop@2x.jpg");
        background-size: cover;
      }
    }
  }

  .invitation__container {
    position: static;
    padding-bottom: 265px;
  }

  .invitation__inner {
    padding-top: 45px;
    padding-left: 80px;
  }

  .invitation__slogan {
    margin-bottom: 52px;
    max-width: 420px;
  }

  .invitation__image {
    top: 141px;
    right: 50%;
    transform: translateX(70%);
    width: 552px;
    height: auto;
  }
}
