.main {
  flex-grow: 1;
}

.main__title {
  margin: 0;
  margin-bottom: 39px;
  font-family: @theme-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
