.map {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 362px;
  background-image: url("../img/styles-images/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/styles-images/map-mobile@2x.jpg");
  }
}

.map__interactive {
  border: none;
  width: 100%;
  height: 100%;
}

@media (min-width: @tablet-width) {
  .map {
    height: 410px;
    background-image: url("../img/styles-images/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/styles-images/map-tablet@2x.jpg");
    }
  }

  .map__interactive {
    height: 410px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    background-image: url("../img/styles-images/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/styles-images/map-desktop@2x.jpg");
    }
  }
}
