.map {
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 362px;
  background-image: url("../img/map-mobile.jpg");
}

.map__pin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 57px;
  height: 53px;

  &--tablet {
    display: none;
    width: 113px;
    height: 106px;
  }
}

@media (min-width: @tablet-width) {
  .map {
    width: 768px;
    height: 400px;
    background-image: url("../img/map-tablet.jpg");
  }

  .map__pin {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}

@media (min-width: @desktop-width) {
  .map {
    width: 1440px;
    height: 400px;
    background-image: url("../img/map-desktop.jpg");
  }

  .map__pin {
    left: 67%;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}
