.map {
  margin: 0 auto;
  position: relative;
  background-image: url("../img/map-mobile.jpg");
  width: 320px;
  height: 362px;
}

.map__pin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
