.more {
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.more-button {
  min-width: 30px;
  min-height: 30px;
  position: relative;
  margin-bottom: 23px;
  background: url("../img/plus.svg") no-repeat transparent;
  border: none;
}

.more-button__image {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.more-subject {
  margin-bottom: 8px;
  font-family: @theme-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.more-subtitle {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
}

.button-show-all {
  width: 100%;
}
