.page {
  position: relative;
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  overflow-x: hidden;

  font-family: @main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @text-color;
}
