.page {
  height: 100%;
  background-color: #ffcaca;
}

.page__body {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
  color: @text-color;
}
