.program-preview {
  padding: 24px 19px 18px 19px;
}

.program-preview__title {
  position: relative;
  margin-top: 6px;
  margin-bottom: 29px;
  padding-left: 71px;

  font-family: @theme-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 0;
    left: 3px;
    transform: translateY(-5px);

    border-radius: 50%;
    background-color: @theme-color;
  }
}

.program-preview__title--slim {
  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 53px;
    top: -10px;
    left: 9px;
    background: url("../img/cat-slim.svg") no-repeat;
  }
}

.program-preview__title--pro {
  &::after {
    position: absolute;
    content: "";
    width: 67px;
    height: 50px;
    top: 5px;
    left: -6px;
    background: url("../img/cat-pro.svg") no-repeat;
  }
}

.program-preview__desc {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}

.program-preview__link--icon-arrow {
  --icon: url("../img/icon-arrow.svg");
  --icon-pos: -8px;

  &:hover {
    --icon-pos: 0;
  }
}

.program-preview__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 17px;
  margin-top: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 132px;

  font-family: @theme-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    block-size: 24px;
    inline-size: 32px;
    background: var(--icon) no-repeat var(--icon-pos, center);
    transition: background-position 0.1s ease-out;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid #000000;
    outline-offset: 2px;
  }
}

@media (min-width: @tablet-width) {
  .program-preview {
    padding: 77px 62px 55px 53px;
  }

  .program-preview__title {
    width: 100%;
    margin: 0;
    margin-bottom: 24px;
    padding-left: 0;
    padding-right: 240px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      width: 200px;
      height: 200px;
      right: 0;
      left: auto;
      top: 19px;
    }
  }

  .program-preview__title--slim {
    &::after {
      width: 140px;
      height: 194px;
      right: 28px;
      left: auto;
      top: 0;
    }
  }

  .program-preview__title--pro {
    &::after {
      width: 268px;
      height: 112px;
      right: -34px;
      left: auto;
      top: 58px;
    }
  }

  .program-preview__desc {
    width: 340px;
    margin-bottom: 52px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border: none;
  }

  .program-preview__link {
    padding: 0;
    width: 165px;
    font-size: 20px;
    line-height: 30px;
    gap: 25px;
  }
}

@media (min-width: @desktop-width) {
  .program-preview {
    width: 570px;
    padding: 47px 51px 59px 52px;
  }

  .program-preview__title {
    position: relative;
    margin-top: 30px;
    margin-bottom: 73px;
    padding-left: 162px;
    padding-right: 0;

    &::before {
      width: 100px;
      height: 100px;
      top: -26px;
      left: 0;
    }
  }

  .program-preview__title--slim {
    &::after {
      width: 70px;
      height: 97px;
      top: -36px;
      left: 15px;
    }
  }

  .program-preview__title--pro {
    &::after {
      width: 134px;
      height: 56px;
      top: -11px;
      left: -20px;
    }
  }

  .program-preview__desc {
    width: 100%;
    margin: 0;
    padding-bottom: 27px;
  }

  .program-preview__link {
    gap: 28px;
    margin-top: 0;
  }
}
