.developer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

@media (min-width: @tablet-width) {
  .developer__text {
    margin-right: 22px;
  }
}
