.main-footer {
  padding-top: 39px;
  padding-bottom: 22px;
  background-color: #f2f2f2;
}

.main-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__developer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}
