.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 18px;
}

.main-header__logo {
  width: 210px;
  flex-shrink: 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .main-header {
    flex-direction: row;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-bottom: 0;
    gap: 10px;
  }

  .main-header__logo {
    width: 174px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    padding-top: 53px;
    padding-bottom: 29px;
  }

  .main-header__logo {
    width: 232px;

    & img {
      width: 202px;
    }
  }
}
